# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcuserstate
*.moved-aside
*.xccheckout
xcuserdata/
*.xcscmblueprint

# Build output
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!*.xcodeproj/*.xcworkspace
!*.xcodeproj/project.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Instruments
timeline.xctimeline
playground.xcplayground

# Affinty Designer source files (optional – entfernen wenn du sie versionieren willst)
# *.afdesign
